.leftlogo a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.rightmenu a {
    color: white;
    text-decoration: none;
}

.rightmenu li {
    display: inline;
    padding: 20px;
}

.header {
    background-color: #055F6D;
    height: 120px;
    position: relative;
}

.leftlogo {
    padding: 40px;
}

.rightmenu {
    position: absolute;
    top: 50px;
    right: 100px;
}

.container {
    background: #2FC7AA;
    height: 600px;
    position: relative;
}

.banner {
    margin: 0 auto;
    padding: 100px 0px 20px 0px;
    max-width: 256px;
}

.title1 {
    font-size: 80px;
    margin: 0 auto;
    max-width: 742px;
    color: #FFFFFF;
}

.fa-minus {
    font-size: 50px;
    color: #FFFFFF;
}

.fa-star {
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 256px;
}
