<<<<<<< HEAD
.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 120px;
}

.menu {
    background-color: black;
    margin: 0 auto;
    position: relative;
    max-width: 900px;
}

.item {
    position: absolute;
    height: 100px;
}
=======

>>>>>>> origin/master
